<p>{{dataService}}</p>
<p> Favourite Movies</p>
<button (click) = "onShowHide(true)" [class.showingData]="showData === true">Show Data</button>
<button (click) = "onShowHide(false)" [class.showingData]="showData === false">Hide Data</button>
<ul *ngIf="showData === true">
  <li>Title:<strong>{{movie.movie}}</strong></li>
  <li>Director:<strong>{{movie.director}}</strong></li>
  <li>Year:<strong>{{movie.year}}</strong></li>
</ul>
<p>
  Change Title:
  <input type="text" (keypress)="debug()" [(ngModel)]="movie.movie"/>
</p>
<hr/>
<p>Movies List:</p>
<ul>
  <ul *ngFor="#movie of movies" style="margin-bottom: 20px;">
    <li (click)="onChangeMovie(movie)" class="movie-title"
    [class.clicked]="selectedMovie.title === movie.title">
    Title:<strong>{{movie.movie}}</strong></li>
    <li>Director:<strong>{{movie.director}}</strong></li>
    <li *ngIf="movie.year">Year:<strong>{{movie.year}}</strong></li>
    <li><a [routerLink]="['CreateMovieBaseOther', {title: movie.movie,
                                                   director:movie.director,
                                                   year:movie.year}]">
    Add Movie base in its</a></li>
  </ul>
</ul>
